.conteudo{
	height:700px;
	background:url('imgs/tesbg.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-size: round;
	margin-left: -8px;
	margin-right: -8px;
	margin-bottom: -8px;
}

.main-menu{
	background-color: black;
	background-repeat: no-repeat;
	background-size: 100%;
	padding-top: 1%;
	padding-bottom: 1%;
	margin-left: -8px;
	margin-right: -8px;
}

.main-menu ul li{
	display: inline;
}

.main-menu ul li a{
	display: inline-block;
	width: 170px;
	height: 100%;
	font-family: TW Cen Mt Condensed;
	font-size: 24px;
	background-color:black;
	border:1px solid black;
	color:white;
	text-underline-position: unset;
	text-decoration: none;
}

.setinha {
	display: none;
	height: 28px;
	width: 40px;
}

.setinha:first-child {
	float: left;
}

.setinha:last-child {
	float: right;
}

.menu-item:hover .setinha {
	display: block;

}

.menu-item{
	border-style: none;
}

.logo{
	float: left;
}

#contato , #novidades , #home {
	display: none ;
	color: red;
}
